.user-form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  height: 80%;

}

tr:first-child th {
  border-bottom: 1px dotted black;
  background-color: transparent;
}


.user-form1 h2 {
  color: red;
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 8px;
}



.table-header h3 {
  margin-right: auto;
}

.add-user-button {
  margin-left: auto;
}

table {
  padding: 2px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: auto;
  border: 1px dotted black;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #cec8c87a;
}
tbody tr:nth-child(even) {
  background-color: #cec8c87a;
}
tr:hover {
  background-color: #f5f5f5;
}

tbody::after {
  content: "";
  display: block;

  position: absolute;

  left: 0;
  right: 0;
  background-color: transparent;
}



.form-container1 input,
.form-container1 select
{
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}


.form-buttons-container1 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;

}


.form-submit-button1,
.back-button {
  flex: 1;
  margin-right: 5px;
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  background-color: maroon;
  color: white;
  border-radius: 10px;

}


.form-submit-button1:hover,
.back-button:hover{

  text-decoration: underline;

}

.form-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted black;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  height: fit-content;
  overflow:visible;
}
.columns-container3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: visible; 
  max-height: 700px; 
}
.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted black;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  height: fit-content;
  overflow:auto;
}
.columns-container1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;  
  max-height: 700px; 
}

.column1 {
  flex: 1;
  padding: 40px;
  position: relative;
  margin-left: 10px;
}



.row1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.row1 label{
  white-space: pre-wrap;
  text-align: left;
}


.row1 select,
.row1 input {
  align-self: flex-start;
  width: 100%;
  padding: 8px; 
  border-radius: 5px;
  font-size: 16px; 
  box-sizing: border-box; 
  background-color: white;
  border: 1px solid black;
}
.add-user-button{padding: 4px 4px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(0, 119, 255);
  font-size: large;
border: none;
  margin-left: 10px;
  margin-right: 10px;

}
.save-button{
  color:rgba(9, 109, 239, 0.83) ;
}
.cancel-button{
  margin-left: 2px;
  color:rgba(255, 0, 0, 0.852);
}
.delete-button{
  margin-left: 2px;
}

