.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted black;
    padding: 20px;
    width: 80%; /* Change fixed width to 100% */
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .columns-container {
    display: flex;
    justify-content:flex-start; 
    width: 100%;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    position: relative;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  .empty-space {
    height: 80px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  /* Positioning the second and third column labels */
  .column:nth-child(n + 2) .row:first-child label {
    position: absolute;
    top: -30px;
    left: 0;
  }
  
  .requiredfield {
    color: red;
  }
  
  select,
  input[type="text"] {
    display: flex;
    height: 40px;
    width: 100%; /* Change width to 100% */
    max-width: 70%;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
  }

  @media (max-width: 760px) {
    .form-container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    select,
    input[type="text"] {
      max-width: 100%; /* Adjust max-width for smaller screens */
    }
  }