.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(190, 7, 7);
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.logo img {
  width: 40px; /* Adjust the width to your desired size */
  height: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 16px;
  gap: 16px;
  justify-content: flex-start;/* Align items to the left */
  flex-grow: 1; 
}

.navbar li {
  margin-left: 0px;
  color: white;
  cursor: pointer;
}
.navbar ul li a {
  color: gold;
  text-decoration: none;
}
.navbar ul li a.active {
  font-weight: bold;
}
.navbar li:first-child {
  margin-left: 16px; /* Reset the left margin for the first li component */
}

.navbar li:hover {
  text-decoration: underline;
}
.navbar li:last-child{ margin-left: auto;
  color: white;}
